
<div class="row">
    <div class="col-md-3 field-label-responsive">
        <label for="easy_payment">무통장 입금 안내</label>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <ul>
                <li>정확한 주문 금액(원 단위까지) 입금 요망</li>
                <li>주문 완료 후 7일 이내에 미입금시 주문 자동 취소</li>
                <li>지역별 총알배송 가능 주문시간까지 입금 확인 되면 총알배송 가능</li>
                <li>증권사 현금카드, 제휴카드 이체 불가</li>
                <li>은행업무 시간이 아닌 경우 입금 확인이 지연될 수 있음(토요일, 공휴일 등)</li>
                <li>은행 수수료 부과 및 예약이체(불가) 주의</li>
                <li>해외송금 시 국민은행 가상계좌이용불가</li>
              </ul>
            </div>
        </div>
    </div>
</div>
