<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">

					<div class="panel-body">
						<div class="row">

								<form  role="form" (ngSubmit)="f.form.valid && signIn()" #f="ngForm" style="display: block;">
                  <div class="col-lg-8">
  									<div class="form-group">
  										<input type="text" name="UserId" [(ngModel)]="user.id" tabindex="1" class="form-control" placeholder="your name">
  									</div>

  									<div class="form-group">
  										<input type="password" name="password" [(ngModel)]="user.pwd" tabindex="2" class="form-control" placeholder="your password">
  									</div>

                    <div class="form-group col-sm-offset-5">
                      <input type="submit" [disabled]="!f.valid" name="login-submit"  tabindex="4" class="btn btn-default" value="Sign In">
                    </div>

                    <div *ngIf="!hidden" lang=""class="alert alert-info">
                        <strong>Info!</strong> {{message}}
                    </div>

                  </div>

								</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
