

<div id="custom-search-input">
    <div class="input-group col-md-12">
        <input type="text" class="form-control input-lg" placeholder="Book Title" [(ngModel)]="search_text" />
        <span class="input-group-btn">
            <button class="btn btn-lg btn-danger" type="button" (click)="goSearch()">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>
</div>

<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Date</th>
          <th>Price</th>
        </tr>
    </thead>
      <tr *ngFor="let book of books">
        <td>{{book.id}}</td>
        <td><a [routerLink]="['book-detail', book.id]">{{book.title}}</a></td>
        <!-- [routerLink]="['book-detail', book.id]"> -->
        <td>{{book.author}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.date}}</td>
        <td>{{book.price}}</td>
      </tr>
    </table>
</div>

<div class="">
  <pre>{{books | json}}</pre>
</div>
<div class="">
  <pre>{{book | json}}</pre>
</div>
