
<div class="container">
    <table class="table">
      <tr>
        <td rowspan="3"><img src="{{book.url}}"  class="image-detail" alt="Cinque Terre"></td>
      </tr>
      <tr>
        <!-- <td>{{book.id}}</td> -->
        <td>
          <h3>{{book.title}} </h3> <br />
          <div>
            {{book.author}} | {{book.publisher}} | {{book.date}}
          </div> <br />
          <div>
            정가 : <font color="red"><b>{{book.price  | currency:'KRW'}} 원 </b></font>
          </div>
        </td>
      </tr>
      <tr>
        <td>
            <button type="button" class="btn btn-default my-button" (click)="addCart(book.id)">장바구니</button>
            <button type="button" class="btn btn-default my-button" [routerLink]="['../../']">목록보기</button>
            <!-- View It Now
            <button type="button" class="btn btn-danger my-button" [routerLink]="[../../cart-list]">View your Cart</button> -->
        </td>
      </tr>
    </table>
</div>
<div>

</div>

<!-- <a [routerLink]="['book-detail', book.id]">{{book.title}}</a> -->
