<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Top Credu Books</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="book">Home</a></li>
      <li><a routerLink="book">list</a></li>
      <li *ngIf="isLogin"><a routerLink="profile">My Profile</a></li> <!-- 내 정보 보기 -->
      <li *ngIf="!isLogin"><a routerLink="signInForm" >Sign In</a></li> <!-- 로그인 -->
      <li *ngIf="!isLogin"><a routerLink="signUpForm">Sign Up</a></li><!-- 가입하기  -->
      <li *ngIf="isLogin"> <a [routerLink]="" (click)="signOut()">Sign Out</a></li> <!-- 로그아웃 -->
      </ul>
  </div>
</nav>
