<!--  https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=dropdowns-within-navbar -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Top Credu Books</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="book">Home</a></li>
      <li><a routerLink="book">list</a></li>
      <li *ngIf="isLogin"><a routerLink="profile">My Profile</a></li> <!-- 내 정보 보기 -->
      <li *ngIf="!isLogin"><a routerLink="signInForm" >Sign In</a></li> <!-- 로그인 -->
      <li *ngIf="!isLogin"><a routerLink="signUpForm">Sign Up</a></li><!-- 가입하기  -->
      <li *ngIf="isLogin"> <a [routerLink]="" (click)="signOut()">Sign Out</a></li> <!-- 로그아웃 -->
      <li><a routerLink="cart-list">Cart</a></li>
      <li><a routerLink="payment">Payment</a></li>
      <!-- <li class="checkout">

        <a href="#">
										<i class="fa fa-shopping-cart" aria-hidden="true"></i>
										<span id="checkout_items" class="checkout_items">2</span>
									</a>

      </li> -->
      </ul>
  </div>

</nav>


<!-- <div class="bs-example">
    <nav id="myNavbar" class="navbar navbar-default" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Messages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Drafts</a></li>
                            <li><a href="#">Sent Items</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Trash</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div> -->
