.bs-example{
    margin: 20px;
  }

.checkout a
  {
  	background: #eceff6;
  	border-radius: 50%;
  }

.checkout_items
  {
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	position: absolute;
  	top: 2px;
  	left: 60px;
  	width: 20px;
  	height: 20px;
  	border-radius: 50%;
  	background: #fe4c50;
  	font-size: 12px;
  	color: #FFFFFF;
  }
