<div class="bs-example">
  <div class="panel panel-warning" *ngIf="errorMessage">
    <div class="panel-body">
      <b class="text-warning">{{errorMessage}}</b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" #f="ngForm" (ngSubmit)="onSubmit(f)">

        <div class="form-group">
          <label class="sr-only" for="writer">writer</label>
          <input type="text" class="form-control"
            [(ngModel)]="writer" id="writer"
            name="writer" placeholder="Writer" required>
        </div>

        <div class="form-group">
          <label class="sr-only" for="content">content</label>
          <input type="text" class="form-control"
            [(ngModel)]="content" id="content"
            name="content" placeholder="Content" required>
        </div>

        <div class="form-group">
          <label class="sr-only" for="date">date</label>
          <input type="text" class="form-control"
            [(ngModel)]="date" id="date"
            name="date" placeholder="Date" required>
        </div>


        <button type="submit" class="btn btn-default btn-sm"
          [disabled]="f.invalid">
          <b class="glyphicon glyphicon-plus"></b> Add
        </button>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div *ngFor="let memo of memos" class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><b>번호</b> : {{memo.id}}</div>
        <div class="panel-body"><b>작성자</b>: {{memo.writer}}</div>
        <div class="panel-body"><b>내용</b> : {{memo.content}}</div>
        <div class="panel-body"><b>날짜</b> : {{memo.date}}</div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <a href="#" class="text-warning" (click)="removeMemo(memo)">
             <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
