<h1>
  <!-- Interpolation -->
  {{ title }}
</h1>
<p>
  {{ body }}
</p>

<hr>
<div>
  <h2 class="text-error">Home: {{ message }}</h2>
  <form class="form-inline">
    <!--
    () : Event Binding: 이벤트가 발생하면 변수 값을 갱신한다.
    [] : property bidning: 객체가 가진 변수 값을 배치한다.
    [()] : Event Binding + property bidning
    [(ngModel)] is Angular's two-way data binding syntax. -->
    <input type="text" [(ngModel)]="message" placeholder="Message" name="message">
    <button type="submit" class="btn" (click)="updateMessage(message)">Update Message</button>
    <br />  <br />
    <input type='text' name='' value='{{message}}' />
    <br />  <br />
    <input type='text' name='' [value]='message' />
  </form>
</div>
