
<!-- <img src="../../../assets/cart/cart2.png" width="30" height="30" /> -->
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>상품 번호</th>
          <th>책 이름</th>
          <th>가격</th>
          <th>수량</th>
          <th>총 합계</th>
        </tr>
    </thead>
      <tr *ngFor="let cart of carts">
        <td>{{cart.id}}</td>
        <td>{{cart.title}}</td>
        <td>{{cart.price | currency:'KRW'}}</td>
        <td>{{cart.quantity}}권</td>
        <td>{{cart.total | currency:'KRW'}}</td>
      </tr>
    </table>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-5">
      <input type="submit" (click)="goCharge()" name="update-submit"  class="btn btn-default" value="결제하기">
    </div>
  </div>
</div>

<div class="container">
  <pre>
    Built in Pipe (p143)
  </pre>
</div>
