<!-- https://bootsnipp.com/snippets/0BVEA -->
<div class="container">
    <form class="form-horizontal" (ngSubmit)="updateProfile()" #f="ngForm" name="form" role="form">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Update My Profile</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="id">ID</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" class="form-control" [(ngModel)]="profile.id" name="id"  #id="ngModel"
                               placeholder="your ID" required autofocus>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            {{idErrorMessage}}
                        </span>
                </div>
            </div> -->
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="name" class="form-control" [(ngModel)] = "profile.name" #name="ngModel"
                               minlength="3" maxlength="10" placeholder="John Doe" required autofocus>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">

                        </span>
                </div>
            </div> -->
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">E-Mail Address</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" [(ngModel)]="profile.email" #email="ngModel"
                               placeholder="you@example.com" required autofocus>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            {{emailErrorMessage}}
                        </span>
                </div>
            </div> -->
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" [(ngModel)]="profile.pwd" #pwd="ngModel"
                               placeholder="Password" required>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close">   {{pwdErrorMessage}} </i>
                        </span>
                </div>
            </div> -->
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="gender">Gender</label>
            </div>
            <div class="col-md-6">
                <label>{{profile.gender}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button  type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Update </button>
            </div>
        </div>
    </form>
</div>
