
<div class="container">
    <table class="table">
      <tr>
        <td><b>ID </b></td>
        <td>{{profile.id}}</td>
      </tr>
      <tr>
        <td><b>Name</b></td>
        <td>{{profile.name}}</td>
      </tr>
      <tr>
        <td><b>Email</b></td>
        <td>{{profile.email}}</td>
      </tr>
      <tr>
        <td><b>Gender </b></td>
        <td>{{profile.gender}}</td>
      </tr>
    </table>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <input type="submit" (click)="updateForm()" name="update-submit"  tabindex="4" class="btn btn-default" value="Update">
    </div>
  </div>
</div>
