<h4>문화비소득공제 안내</h4>
<ul>
  <li> 신용카드 결제는 카드 명의자 기준으로 문화비 소득공제가 자동 신청됩니다.</li>
  <li>
    신용카드로 도서, eBook 등 문화비소득공제 대상 상품과 비대상 상품을 함께 주문하는 경우 소득공제 대상 금액과 비대상 금액으로 나누어 2회 결제가 진행 됩니다.
  </li>
  <li>
    2회 결제가 진행될 경우 카드사 청구할인 혜택에서 제외 될 수 있으므로, 각 결제금액을 꼭 확인하신 후 문화비소득공제를 신청해주세요.
  </li>
  <li>
    문화비소득공제 대상 상품 <br/>
    - 도서, eBook, 중고상품 중 ISBN이 부여된 상품. <br/>
    - 단, eBook 대여 상품, 개인 판매자가 판매하는 중고상품은 모두 제외. <br/>
    - 도서 주문 시 발생 되는 배송비는 소득공제 금액에 포함. 이외 반품비, 분철비, 취소수수료, 선물포장비 등은 모두 제외 <br/>
  </li>
  <li>
    문화비소득공제는 결제완료된 후에는 신청이 불가합니다. 문화비소득공제를 받고자하실 경우 결제 시 꼭 신청해주세요.
  </li>
  <li>
    문화비소득공제 신청내역은 별도의 영수증 출력이 불가하며 연말정산 시 간소화 서비스에서 조회가 가능합니다.
  </li>
  <li>
    일부 제휴 카드 및 제휴사를 통해 상품을 주문하시는 경우 문화비소득공제 신청이 불가할 수 있습니다.
  </li>
</ul>
