<html>
  <head>
    <title>Vue Component Registration</title>
  </head>
  <body>
    <div id="app">
      <h1>Hello <label v-model="prefix"></label> {{name}}</h1>
      <p>성별을 입력하세요.</p>
        <input type ="text" v-on:keyup="checkGender" v-model="prefix"></input>
      <p>이름을 입력하세요.</p>
      <input type="text" v-model="name"/>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>

    // Vue.component('child-component', {
    //   template: '<input type ="text" v-on:keyup="checkGender"></input>',
    //   methods: {
    //     showLog: function() {
    //       this.$emit('show-log','^----^');
    //     }
    //   }
    // });


      new Vue({
        el: '#app',
        data: {
          name:'Anderson',
          prefix: null
        },
        methods: {
          checkGender: function(e) {
            if(e.kyCode !== 13){
              return;
            }
            var gender = e.target.value;
            if(gender == 'male'){
              this.prefix = 'Mister';
            }else{
              this.prefix = 'Miss';
            }
            console.log('test111111111111');
          }
        }
      });

    </script>
  </body>
</html>
