<html>
	<head>
		<title>Vue with Axios Sample</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.d_true {
	text-decoration: line-through;
}
</style>

</head>
<body>

<div class="container" id="app">
    <h1>Caculator</h1>
    <form class="" action="index.html" method="post">
      <input type="text" name="value1" v-model="value1" size="5" maxlength="5"  />
      <label> + </label>
      <input type="text" name="value2" v-model="value2" size="5" maxlength="5"  />
      <button type="button" name="button" v-on:click="plusData" >show</button>
    </form>
    <h1>Result: {{ result }}</h1>
</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script>
			new Vue({
				el: '#app',
				data:{
					value1: null,
					value2: null,
          result: null
				},
				methods: {
					plusData : function(){
            this.result = Number(this.value1) + Number(this.value2);
						// console.log(this.result);
					}
				}
			});
		</script>
	</body>
</html>
