:host {
  display: block;
  padding: 10px;
  background-color: lightgreen;
}

/*
    <app-child></app-child> : 부모가 <app-child></app-child> 이렇게 사용하면 아래 디자인을 적용하지 않습니다.
    <app-child class="xxx"></app-child> : 부모가   <app-child class="xxx"></app-child> 이렇게 사용하면 아래 디자인을 적용합니다.

 */
:host-context(.xxx) p {
  color: red;
}

p {
  color: blue;
}
